* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {

}

.menu-container {
}

.menu-content {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-img {
    background-color: #12636f;
}

.header-img-giua {
    max-width: 1098px;
    margin: auto;

}
.header-img-giua > img{
    display: block;
    width: 100%;
}

/* css menu */

.menu-content {
    height: 42px;
    background-color: #12636f;
}

.menu-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-content .menu-child {
    display: flex;
    max-width: 1100px;
    margin: auto;
    background-color: #0d5963;
    justify-content: space-between;
    align-items: center;
}
.menu-content .menu-list1 {
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: 42px;
}
.menu-item2:hover,
.menu-list1 .menu-item:hover,
.menu-item a:hover {
    background-color: #298289;
}




.menu-list2 {
    position: absolute;
    background-color: #0d5963;
    width: 230px;
    display: none;
    top: 102%;
    box-shadow: 0 0 4px gray;
    z-index: 5000;
}


.menu-list1 .menu-item:hover .menu-list2{
    display: block;
}


.menu-item2 {
    position: relative;
}
.menu-item2 a {
    padding: 0 16px 0 36px;
    border-bottom: 1px solid #298289;
}
.menu-item3 a {
    padding: 0 16px;
}

.menu-item2:hover .menu-list3{
    display: block;
}
.menu-list3{
    width: 200px;
    background-color: #0d5963;
}
.menu-list3 {
    position: absolute;
    left: 231px;
    top: 0;
    display: none;
    box-shadow: 0 0 4px gray;
}

.menu-list2::before {
    content: "";
    position: absolute;
    width: 118px;
    height: 5px;
    top: -3px;
}

.menu-list3::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 42px;
    left: -3px;
}

.menu-list3 {
    transform-origin: 0% 3%;
    animation: animate ease-in .2s;
}
.menu-list2 {
    transform-origin: 20% 0%;
    animation: animate ease-in .2s;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* search */
.menu-child {
    display: flex;
}
.menu-search {
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;
    margin-right: 26px;
}

.menu-search input {
    border: none;
    outline: none;
    padding: 6px;
}
.menu-search img{
    width: 22px;
    height: 22px;
    cursor: pointer;
    padding: 2px;
    margin: 0 4px;
}
.menu-search::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 22px;
    margin: 4px 0;
    top: 0;
    left: 83%;
    background-color: gray;
}



.menu-list1 > li:nth-child(2),
.menu-list1 > li:nth-child(3),
.menu-list1 > li:nth-child(4),
.menu-list1 > li:nth-child(5),
.menu-list1 > li:nth-child(6),
.menu-list1 > li:nth-child(7),
.menu-list1 > li:nth-child(8),
.menu-list1 > li:last-child
{
    border-left: 2px solid #12636f;
}
.menu-list1 > li:last-child{
    border-right: 2px solid #12636f;
}






