*{
    margin: 0;
    padding: 0;
}
.contai{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 50px 0;

}
.contai-text{
    border: 3px solid #439ea5;
    border-radius: 10px 10px 0px 0px;
    background: #439ea5;
}
h2{
    color: #fff;
    font-weight: bold;
    margin: 10px 10px;
}

.gallery-display-area{
    overflow: hidden;
    height: 450px;
    width: 800px;
    margin: 0 auto;
    border: 5px solid #439ea5;
    border-radius: 5px;
}

.gallery-wrap{
    width: 600%;
    animation: slideShow 16s infinite;
}

.image{
    float: left;
    height: 450px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px -webkit-gradient(linear, right top, right bottom, 
    from(transparent), to(rgba(255, 255, 255, 0.3)));
}

@keyframes slideShow{
    20%{
        margin-left: 0;        
    }
    30%{
        margin-left: -100%;        
    }
    40%{
        margin-left: -100%;        
    }
    50%{
        margin-left: -200%;        
    }
    60%{
        margin-left: -200%;        
    }
    70%{
        margin-left: -300%;        
    }
    80%{
        margin-left: -300%;        
    }
    90%{
        margin-left: -400%;        
    }
    100%{
        margin-left: -400%;        
    }
}